#task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: rgb(136, 43, 11, 0.5);
  .desc {
    background: unset;
    border: unset;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    height: 2.8rem;
    input {
      background: unset;
      border: unset;
      width: 100%;
      font-size: 0.95rem;
      &:disabled {
        font-weight: 500;
        color: unset;
      }
      &:last-child {
        width: 40%;
        font-weight: 500;
        color: unset;
      }
    }
  }
  .icon {
    font-size: 1.75rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
  }
}

.editable {
  background: rgb(136, 43, 11, 0.25);
  border: 2px solid red;
  border-bottom: 2px solid red;
}

.action-btn {
  color: green;
  cursor: pointer;
  padding: 0.35rem;
  border: 1px solid black;
  border-radius: 30% 0% 30% 0;
}
